@import "../SassMixinsandVariables.scss";
@import "./ProfilePageMobile.module.scss";

.jabs_body {
  height: 100%;
}

.profile_page_top {
  height: 85vh;
  width: 100%;
  .title {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 7vh;
    font-weight: 100;
  }
}

.delete_icon {
  width: 80%;
  margin: 20px 0px 1em 10%;
  color: $JabberBlue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-family: pacifico;
  }

  img {
    width: 8em;
    height: 5em;
  }
}

.profile_page_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(18, 18, 20);

  h1 {
    color: white;
  }
}
