@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@media (max-width: 800px) {

.logo {

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20vh;
        margin: 10px 0px 25px 0px;
        justify-content: center;
        align-items: center;
        // border: 2px solid black;
    
h1 {
            color: rgb(20, 19, 22);
            font-family: 'Pacifico', cursive;
            font-size: 2.5em;
    }
        
img {
            height: 50%;
            width: 80px;
    }
}
    
.recorder_area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        // @include border;
    
audio {
            background-color: red;
            margin-bottom: 20px;
            width: 60%;
    }

.button_space {
            margin-top: 10%;
            width: 100%;
            display: flex;
            justify-content: space-around;

        }

#invisible_button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
}
        
button {
            width: 15%;
            height: 30px;
            margin-top: 20px;
            background-color: rgb(22, 22, 49);
            border-color: rgb(12, 12, 27);
            color: white;
    }
}
.map_box {
        height: 30vh;
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        border: 2px solid black;
        h1 {
            color: rgb(8, 8, 8);
        }
        img {
                width: 100%;
                height: 100%;
        }
    }
}