@import "../SassMixinsandVariables.scss";
// Has access to flex-center mixin

body {
  background-color: rgb(241, 242, 246);
}

.main_page_top {
  height: 80vh;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  // margin: 10px 0px 5px 0px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  
  h1 {
    font-size: 2.5em;
    color: $JabberBlue;
    font-family: "Pacifico", cursive;
  }
  h1:hover {
    color: $JabberBlue;
    font-family: "Pacifico", cursive;
  }
  
  h3 {
    color: $JabberBlue;
  }
  
  img {
    height: 40%;
    width: 15%;
  }
}

.recorder_area {
  @include flex-center;
  height: 30vh;
  border: 2px solid black;
  
  audio {
    height: 10vh;
    border: 2px solid black;
  }
  
  .button_space {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    .mic_button {
      border: 2px solid black;
      height: 10em;
      width: 10em;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
      
      
      .recordBtn {
        height: 5em;
        width: 5em;
      }
    }
    
    .mic_button:hover {
      box-shadow: none;
      background-color: rgb(255, 255, 255);
    }
  }
  
  button {
    width: 15%;
    height: 30px;
    margin-top: 20px;
    background-color: rgb(22, 22, 49);
    border-color: rgb(12, 12, 27);
    color: white;
  }
  
  .map_box {
    height: 20vh;
    width: 90%;
    margin-left: 5%;
    @include border;
    
    h1 {
      color: red;
    }
  }

}

.main_page_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
  background-color: rgb(18, 18, 20);

  h1 {
    color: white;
  }
}


@import "./JabberMainPageMobile.module.scss";