@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

@media (max-width: 800px) {
  .logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    margin: 10px 0px 25px 0px;
    justify-content: center;
    align-items: center;
    // border: 2px solid black;

    .logo2 {
      margin-top: 20%;
      height: 50%;
      width: 50%;
    }
  }
  .greeting {
    margin-bottom: 2%;
  }
  .recorder_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    // @include border;

    audio {
      margin-bottom: 10px;
      width: 60%;
    }

    .button_space {
      margin-top: 10%;
      width: 100%;
      display: flex;
      justify-content: space-around;

      .mic_button {
        height: 5em;
        width: 5em;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);

        .recordBtn {
          height: 3em;
          width: 3em;
        }
      }
    }

    .mic_button:hover {
      box-shadow: none;
      background-color: rgb(151, 58, 58);
    }

    button {
      width: 15%;
      height: 30px;
      margin-top: 20px;
      background-color: rgb(22, 22, 49);
      border-color: rgb(12, 12, 27);
      color: white;
    }
  }

  .map_box {
    height: 30vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    border: 2px solid black;
    h1 {
      color: rgb(8, 8, 8);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .main_page_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: rgb(18, 18, 20);

    h1 {
      font-size: 1em;
      color: white;
    }
  }
}
