@import "../SassMixinsandVariables.scss";
// // Has access to flex-center mixin

body {
  background-color: $JabberYellow;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  margin: 10px 0px 5px 0px;
  justify-content: center;
  align-items: center;
  // border: 2px solid black;

  h1 {
    color: $JabberBlue;
    font-family: "Pacifico", cursive;
  }
  h3 {
    color: $JabberBlue;
  }

  img {
    height: 40%;
    width: 15%;
    // border: 2px solid black;
  }
}

.recordBtn {
  height: 100vh;
  width: 105vw;
  // margin: -25%;
  // display: flex;
  // border: 1px solid red;
}
.recorder_area {
  @include flex-center;
  height: 30vh;
  // border: 2px solid black;

  audio {
    // background-color: red;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .button_space {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;

    img {
      height: 30px;
      width: 50px;
    }
  }

  button {
    width: 15%;
    height: 30px;
    margin-top: 20px;
    background-color: rgb(22, 22, 49);
    border-color: rgb(0, 140, 255);
    color: white;
  }

  .map_box {
    height: 20vh;
    width: 90%;
    margin-left: 5%;
    @include border;

    h1 {
      color: red;
    }
  }
}
// @media (min-width: 800px) {
//   .logo {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     height: 25vh;
//     font-size: 30px;
//     justify-content: center;
//     align-items: center;

//     .logo2 {
//       margin-top: 20%;
//       height: 50%;
//       width: 50%;
//     }
//   }
//   .greeting {
//     margin-bottom: 2%;
//   }
//   .recorder_area {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 30vh;
//     border: 1px solid red;
//     // @include border;

//     audio {
//       margin-bottom: 0px;
//       width: 50%;
//       height: 1000%;
//       border: black;
//     }

//     .button_space {
//       margin-top: 8%;
//       width: 100%;
//       height: 25vh;
//       display: flex;
//       justify-content: space-around;
//       align-items: center;
//       flex-direction: row;
//       // border: 2px solid black;

//       #invisible_button {
//         background-color: rgba(0, 0, 0, 0);
//         border: none;
//       }

//       .recordBtn {
//         height: 15vh;
//         // width: 30%;
//         margin: -25%;
//         display: flex;
//       }
//       .recordBtn:hover {
//         color: red;
//         transform: scale(1.05);
//       }
//     }
//     div {
//       h2 {
//         color: $JabberBlue;
//       }
//       a {
//         text-decoration: none;
//       }
//       h3 {
//         color: rgb(30, 27, 44);
//       }
//     }
//   }
// }

@media (max-width: 800px) {
  .logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    margin: 10px 0px 25px 0px;
    justify-content: center;
    align-items: center;
    // border: 2px solid black;

    // img {
    // }

    .logo2 {
      margin-top: 20%;
      height: 50%;
      width: 50%;
    }
  }
  .greeting {
    margin-bottom: 2%;
  }
  .recorder_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    // @include border;

    audio {
      margin-bottom: 10px;
      width: 60%;
    }

    .button_space {
      margin-top: 10%;
      width: 100%;
      height: 25vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      // border: 2px solid black;

      #invisible_button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
      }

      .recordBtn {
        height: 15vh;
        margin: -25%;
        display: flex;
      }
    }
    div {
      h2 {
        color: $JabberBlue;
      }
      a {
        text-decoration: none;
      }
      h3 {
        color: rgb(30, 27, 44);
      }
    }
  }
}
