@import "../SassMixinsandVariables.scss";
// Has access to flex-center mixin

body {
  background-color: $JabberYellow;
  outline: none;
}

.main_page_top {
  height: 85vh;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15vh;
  margin: 2em 0px 0em 0px;
  justify-content: center;
  align-items: center;
  // border: 2px solid black;

  img {
    height: 5em;
    width: 5em;
  }

  h1 {
    font-size: 2.5em;
    margin: 0em 0px 0px 0px;
    color: $JabberBlue;
    font-family: "Pacifico", cursive;
  }
}

.recorder_area {
  @include flex-center;
  height: 60vh;

  audio {
    height: 5vh;
    width: 300px;
    margin-bottom: 5em;
    outline: none;
    // background-color: rgb(240, 240, 240);
    // border: 2px solid black;
  }

  .sound_wave {
    border-radius: 50px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    width: 40em;
  }

  .button_space {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .mic_button {
      // border: 2px solid black;
      margin-top: 5em;
      height: 10em;
      width: 10em;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);

      .recordBtn {
        height: 5em;
        width: 5em;
      }
    }

    .mic_button:hover {
      box-shadow: none;
      background-color: rgb(255, 255, 255);
    }
  }

  button {
    width: 15%;
    height: 30px;
    margin-top: 20px;
    background-color: rgb(22, 22, 49);
    border-color: rgb(12, 12, 27);
    color: white;
  }
}

.main_page_bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(18, 18, 20);

  .mic_button {
    // border: 2px solid black;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin: 0em 0em 5em 5em;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);

    .mapBtn {
      height: 4em;
      width: 4em;
      border-radius: 100%;
    }
  }
  .mic_button:hover {
    background-color: rgb(236, 239, 243);
  }
}

@import "./JabberMainPageMobile.module.scss";
