@media (max-width: 1200px) {
  .Login {
    width: 40vw;
    height: 80vh;
  }
}
@media (max-width: 900px) {
  .Login {
    width: 50vw;
    height: 80vh;
  }
}
@media (max-width: 650px) {
  .Login {
    width: 60vw;
    height: 80vh;
  }
}
@media (max-width: 550px) {
  .Login {
    width: 70vw;
    height: 80vh;
  }
}
@media (max-width: 450px) {
  .Login {
    width: 80vw;
    height: 80vh;
  }
}
