.map {
    height: 100%;
    width: 100%;
    margin-top: 20vh;
    // border: 2px solid red;
  }

  .map2 {
    height: 100%;
    width: 50%;
  }

  h3 {
    color: black;
  }

  .info_window {
    width: 300px;
    height: 200px;
    // background-color: blue;
    margin
    h1 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1em;
    }
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }