@import "../SassMixinsandVariables.scss";

@media (min-width: 800px) {
  .div2 {
    // border: 2px solid red;
    display: flex;
    height: 30vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    .logo {
      height: 15vh;
      margin: 0%;
      // margin-bottom: -10%;
      display: flex;
      justify-content: flex-start;
      // margin-left: 5%;
      // border: 2px solid red;
    }
  }

  .title {
    font-size: 3em;
    font-family: pacifico, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 100;
    // margin-right: 15%;
    margin: 0%;
    width: 100vw;
    justify-content: center;
    color: $JabberBlue;
    // border: 2px solid red;
  }

  .map {
    height: 100%;
    width: 100%;
    // margin-top: 20vh;
    // border: 2px solid red;
  }

  h3 {
    color: black;
  }

  .info_window {
    width: 300px;
    height: 200px;
    background-color: rgb(238, 238, 245);
    h1 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1em;
    }
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    audio {
      outline: none;
    }
  }
}

@media (max-width: 800px) {
  .div2 {
    // border: 2px solid red;
    display: flex;
    height: 30vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    .logo {
      height: 15vh;
      margin: 0%;
      // margin-bottom: -10%;
      display: flex;
      justify-content: flex-start;
      // margin-left: 5%;
      // border: 2px solid red;
    }
  }

  .title {
    font-size: 1.5em;
    font-family: pacifico, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 100;
    // margin-right: 15%;
    margin: 0%;

    width: 100vw;
    justify-content: center;
    color: rgb(58, 58, 58);
    // border: 2px solid red;
  }

  .map {
    height: 100%;
    width: 100%;
    // margin-top: 20vh;
    // border: 2px solid red;
  }

  h3 {
    color: black;
  }

  .info_window {
    width: 300px;
    height: 200px;
    // background-color: blue;
    img {
      height: 3em;
      width: 3em;
      border-radius: 50%;
    }
    h1 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1em;
    }
  }
}

@media (max-width: 650px) {
  .MapContainer {
    .logo {
      display: none;
    }
    .map {
      height: 50vh;
    }
    h1 {
      display: none;
      color: red;
    }
  }
}

.profile_page_bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(18, 18, 20);

  .mic_button {
    // border: 2px solid black;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin: 0em 0em 5em 5em;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);

    .recordBtn {
      height: 2.5em;
      width: 2.5em;
    }
  }
  .mic_button:hover {
    background-color: rgb(236, 239, 243);
  }
}

@import "./MapContainerMobile.module.scss";
